{{ define "main" }}
<h1>Intro to {{ $.Site.Data.openapi.info.title }} {{ emojify ":sparkles:" }}</h1></h1>
<p>{{ $.Site.Data.openapi.info.version }}</p>
{{ $.Site.Data.openapi.info.description | markdownify }}
{{ range $key, $value :=$.Site.Data.openapi.paths }}
 {{ highlight $key "shell" "" }}
{{ range $key, $value := $value }}
 <h1>{{ $value.summary }}</h1></h1>
 <p>{{ $value.description | markdownify }}</p>
 {{ range $value.responses }}
 {{ highlight ( .content | jsonify  (dict "prefix" " " "indent" "  ")  ) "json" "" }}
  {{ end }}
 {{ end }}
{{ end }}
{{ end }}

{{ define "toc" }}
    <ul id="toc" class="toc-list-h1">
        {{ $headers := partial "funcs/toc_from_pages" .Site.RegularPages }}
        {{ range $headers }}
            <li>
                <a href="#{{ .id }}" class="toc-h{{ .level }} toc-link" data-title="{{ .title }}">{{ .title }}</a>
                {{if .sub }}
                    <ul class="toc-list-h2">
                        {{range .sub}}
                            <li><a href="#{{ .id }}" class="toc-h{{ .level }} toc-link" data-title="{{ .title }}">{{ .title }}</a></li>
                        {{end}}
                    </ul>
                {{end}}
            </li>
        {{end}}
    </ul>
{{ end }}