{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "url" (partial "url.html" . ) }}
<h1>Intro to {{ $.Site.Data.openapi.info.title }} ({{ $.Site.Data.openapi.info.version }}) {{ emojify ":sparkles:" }}</h1></h1>

<p><a href="{{ partial "url.html" . }}openapi.yaml">{{ emojify ":eyes:" }}Download OpenAPI specification</a></p>
<p></p>
{{ $.Site.Data.openapi.info.description | markdownify }}
{{ range $key, $value :=$.Site.Data.openapi.paths }}
{{ $scratch.Set "path" $key }}
{{ range $key, $value := $value }}
 <h1>{{ $value.summary }}</h1></h1>
 <p>{{ $value.description | markdownify }}</p>
{{ if eq $key "get" }}
 {{ highlight (delimit ( slice "curl" " " ($scratch.Get "url") ( $scratch.Get "path" ) ) "" ) "shell" "" }}
 {{ highlight ( ( getJSON (delimit ( slice ($scratch.Get "url") ( $scratch.Get "path" ) ) "" ) ) | jsonify  (dict "prefix" " " "indent" "  ")  ) "json" "" }}
 {{ end }}
 {{ range $value.responses }}
 
 {{ $url := replace (index (index (index .content "application/json") "schema" ) "$ref") "#" ($scratch.Get "url") }}
 
  {{ end }}
 {{ end }}
{{ end }}
{{ end }}

{{ define "toc" }}
    <ul id="toc" class="toc-list-h1">
        {{ $headers := partial "funcs/toc_from_pages" .Site.RegularPages }}
        {{ range $headers }}
            <li>
                <a href="#{{ .id }}" class="toc-h{{ .level }} toc-link" data-title="{{ .title }}">{{ .title }}</a>
                {{if .sub }}
                    <ul class="toc-list-h2">
                        {{range .sub}}
                            <li><a href="#{{ .id }}" class="toc-h{{ .level }} toc-link" data-title="{{ .title }}">{{ .title }}</a></li>
                        {{end}}
                    </ul>
                {{end}}
            </li>
        {{end}}
    </ul>
{{ end }}